<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redbeemedia.enigma.exoplayerdownload" >

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application>
        <service android:name="com.redbeemedia.enigma.exoplayerdownload.EnigmaExoPlayerDownloadService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.downloadService.action.RESTART"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
    </application>
</manifest>
